
html > * {
	color: #d4d4d4 !important;
	background-color: #1e1e1e !important;
	font-family: 'Roboto', sans-serif;
}

p, ul, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2px;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.15rem;
}

#app {
	height: 100%;
	overflow: hidden;
}

.app-container {
	height: 100%;
	padding: 15px;
	padding-top: 60px;
}


.active {
	font-weight: bold;
	font-size: 1rem;
}

.policy {
	display: block;
	width: calc(25% - 20px);
	margin: 10px;
	padding: 7px;
	border: 1px solid rgba(80, 80, 80, 0.74);
	border-radius: 5px;
	font-size: 0.8rem;
}

.full-policy {
	display: block;
	width: calc(100% - 30px);
	min-height: 120px;
	margin: 15px;
	padding: 7px;
	border: 1px solid rgba(80, 80, 80, 0.74);
	border-radius: 2px;
	font-size: 0.8rem;
}

input[type="text"].form-control {
	height: 24px;
	font-size: 0.8rem;
}

ul {
	list-style: none;
}

.link {
	text-decoration: underline;
	color: cyan;
	cursor: pointer;
}

.scroll-container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.policy-monarch-power {
	height: 28px;
	width: 28px;
}

.idea-groups, .countries, .policies {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: calc(100% - 60px);
	font-size: 0.8rem;
}

.policies .scroll-container {
}

.flag-image {
	height: 32px;
	width: 32px;
	border: 1px solid rgba(80, 80, 80, 0.74);
	margin-bottom: 4px;
	margin-top: 4px;
	margin-right: 4px;
}

.religion-groups {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	font-size: 0.8rem;
}

.idea-group, .country {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 15px;
	border: 1px solid rgba(80, 80, 80, 0.74);
	border-radius: 5px;
	height: min-content;
}

.religion-group {
	display: block;
	width: calc(100% - 30px);
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border: 1px solid rgba(80, 80, 80, 0.74);
	border-radius: 5px;
}

.religion-group-top {
	padding: 10px;
	padding-left: 0;
}
.religions{
	>.row{
		margin-left: -4px;
		margin-right: -4px;
		>.col{
			padding-left: 4px;
			padding-right: 4px;
		}
	}
	.religion {
		margin-bottom: 8px;
		padding: 4px;
		border: 1px solid rgba(80, 80, 80, 0.74);
		border-radius: 5px;

		>div {
			display: flex;
			width: 100%;

			&:nth-child(n-1) {
				border-top: 1px solid rgba(80, 80, 80, 0.74);
			}
			>p{
				margin: 4px;
			}
			>div {
				width: 100%;
				border-left: 1px solid rgba(80, 80, 80, 0.74);
				display: flex;
				flex-direction: column;
				align-items: start;
			}
		}
	}
}
.idea-group-top {
	padding: 10px;
}

.idea-group-top h4 {
}

.sideways {
	font-size: 12px;
	writing-mode: vertical-lr;
	text-orientation: mixed;
}


.idea-group-bonuses, .country-bonuses {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow-y: auto;
	overflow-x: hidden;
}

.bonus{
	display: flex;
	align-items: center;
	flex-direction: row;
	font-size: 0.8rem;
}

.idea-num {
	border-left: 1px solid #1e1e1e;
	height: 100%;
}

.idea-group-bonus {
	display: block;
	padding-left: 4px;
	padding-right: 4px;
	border-top: 1px solid rgba(80, 80, 80, 0.74);
}

.country-idea-group-bonus {
	padding-left: 4px;
	padding-right: 4px;
	border-top: 1px solid rgba(80, 80, 80, 0.74);
}

.country-name h4 {
	font-size: 28px;
	text-align: center;
}


.great-projects {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	@media(min-width: 1810px) {
		justify-content: space-around;
	}
	flex-wrap: wrap;
	align-items: start;
}

	.great-project {
		width: 100%;
		max-width: 1000%;

		@media(min-width: 1810px) {
			width: 880px;
		}

		border: 1px solid rgba(80, 80, 80, 0.74);
		padding: 4px;

		.table-border {
			border: 1px solid rgba(80, 80, 80, 0.74);
			margin-left: 0;
			margin-right: 0;

			> .col-3:not(:last-child) {
				border-right: 1px solid rgba(80, 80, 80, 0.74);
			}
		}

		.great-project-trigger-list {
			display: flex;
			flex-direction: row;
			margin-right: 15px;

			> div {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: start;
				font-size: 18px;

				> div {
					margin-left: 20px;
					color: white;
				}
			}
		}
	}



	.great-project-row {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;

		> div {
			width: calc(33.33% - 27px);
		}

		> div:first-child {
			width: 81px;
			display: flex;
			align-items: start;
			justify-content: center;
			border-right: 1px solid rgba(80, 80, 80, 0.74);
		}
	}



	.policies-page,
	.idea-groups-page,
	.policy-page,
	/*.idea-group-page,*/
	.planner-page,
	.countries-page,
	.religions-page {
		width: 100%;
		height: calc(100% - 40px);
	}

	.section-index,
	.index-page {
		width: 100%;
		height: calc(100% - 48px);
	}

	.startingTier {
		border-bottom: 4px solid green;
	}

	.page {
		width: 100%;
		height: calc(100% - 60px);
	}

	.mod-list {
	}

	.mod-index {
		border: 1px solid rgba(80, 80, 80, 0.74);
		padding: 8px;
	}

	ul {
		padding-left: 4px;
	}

	.bonus-image {
		height: 32px;
		width: 32px;
		margin-right: 3px;
	}

	.bonus-image-small {
		height: 24px;
		width: 24px;
		margin-right: 3px;
	}

	.filters {
		display: flex;
		flex-direction: row;
		padding-top: 10px;
		margin-bottom: 10px;
		height: 40px;
	}

	.monarch-power-input {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100px;
	}

	.monarch-power-input img {
		height: 24px;
		width: 24px;
		border: 2px solid red;
		border-radius: 12px;
		cursor: pointer;
	}

	.monarch-power-input img.active {
		border-color: green;
	}

	.router-link-exact-active {
		text-decoration: none;
		color: #d4d4d4;
	}

	.router-link-exact-active:hover {
		text-decoration: none;
		color: #d4d4d4;
		cursor: initial;
	}

	.bonus-input, .category-input {
		width: 450px;
		margin-left: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.bonus-input label {
		font-size: 15px;
		margin-right: 5px;
	}

	.category-input label {
		font-size: 15px;
		margin-right: 5px;
	}

	.bonus-input select {
		height: 24px;
		font-size: 12px;
		padding: 0;
		width: 300px;
	}

	.category-input select {
		height: 24px;
		font-size: 12px;
		padding: 0;
		width: 300px;
	}

	.tab-row {
		display: flex;
	}

	.tab {
		width: 25%;
		border: 1px solid rgba(80, 80, 80, 0.74);
		display: flex;
		justify-content: center;
		cursor: pointer;
	}

	.planner {
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	.planner-idea-groups {
		width: 40%;
		height: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.planner-policies {
		width: 60%;
		height: 100%;
		padding: 10px;
		position: relative;
	}

	.planner-policies-add, .planner-idea-groups-add {
		width: 100%;
	}

	.planner-bonus {
		width: 33%;
		padding: 4px;
		border: 1px solid rgba(80, 80, 80, 0.74);
		border-radius: 5px;
	}

	.planner-bonuses {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow-y: auto;
		height: 100%;
	}

	.planner-idea-group-selection {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
	}

	.planner-policy-selection {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		overflow-y: auto;
	}

	.planner-idea-group {
		border: 1px solid rgba(80, 80, 80, 0.74);
		border-radius: 4px;
		padding: 4px;
		font-size: 12px;
		cursor: pointer;
	}

	.planner-policy .policy {
		width: auto;
		font-size: 12px;
		cursor: pointer;
	}

	.planner-policy .policy img {
		height: 24px;
		width: 24px;
	}

	.planner-policy .policy h4 {
		font-size: 16px;
	}

	.planner-policies-show {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.planner-policies-show > div {
		height: 33%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
	}

	.planner-choice {
		border: 1px solid rgba(80, 80, 80, 0.74);
		padding: 4px;
		margin: 4px;
	}

	.planner-vertical-label {
		height: 100%;
		width: 30px;
		writing-mode: vertical-lr;
		text-orientation: upright;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.planner-policies-show img {
		align-self: center;
	}

	.planner-idea-group-show {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.planner-idea-group-show > div {
		height: 33%;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}

	.planner-idea-group-show .planner-idea-group {
		font-size: 16px !important;
	}

	.planner-idea-group-show img {
		align-self: center;
	}

	.disabled {
		cursor: not-allowed !important;
	}

	.mod-navigation {
		height: 60px;
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 1.4rem;
	}

	.mod-navigation > * {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mod-navigation ul {
		width: calc(100% - 300px);
		display: flex;
		flex-direction: row;
		justify-content: start;
	}

	.mod-navigation ul li {
		padding-left: 20px;
		padding-right: 20px;
		border-left: 2px solid rgba(80, 80, 80, 0.74);
	}

	.mod-navigation .nav-start {
		width: 200px;
	}

	.mod-navigation .nav-end {
		align-self: end;
		width: 100px;
	}

	.app-header {
		height: 60px;
		padding: 4px;
		position: fixed;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
		background-color: #333333;
		z-index: 1000;
	}

	.vertical-divider {
		height: 100%;
		width: 0;
		border-left: 1px solid grey;
	}

	.app-header-icon {
		width: 52px;
		height: 100%;
	}

	.app-navigation {
		height: 100%;
		width: fit-content();
		display: flex;
		flex-direction: row;
		position: relative;
		align-items: center;
		justify-content: start;
	}

	.main-route-selection, .child-route-selection {
		width: 250px;
		height: 56px;
	}

	.dropdown-toggle {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dropdown-menu {
		top: calc(100% - 1px);
		width: 250px;
		min-width: 250px;
		height: fit-content();
		background-color: transparent;
		margin: 0;
		border-radius: 0;
		padding: 0;
		color: #d4d4d4 !important;
	}

	.dropdown-menu ul {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.dropdown-menu li {
		width: 250px;
		height: 60px;
		padding: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		background-color: #333333;
		color: #d4d4d4 !important;
		z-index: 1000;
		position: relative;
	}

	.dropdown-menu li.active {
		background-color: #444444;
	}

	.dropdown-menu li:not(.active):hover {
		background-color: #545454;
		cursor: pointer;
	}

	.modal-shield {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10000;
	}

	.modal {
		background-color: #333333;
		display: flex;
		flex-direction: column;
		min-height: 50%;
		max-height: 80%;
		min-width: 50%;
		max-width: 70%;
		z-index: 10000;
		margin: 80px 160px;
		padding: 10px;
		border: 3px solid #d4d4d4;
	}

	.modal .modal-title {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 120px;
		justify-content: space-between
	}

	.modal .modal-body {
		height: calc(100% - 120px);
		width: 100%;
	}
